.ground{


    padding-top: 15%;
    margin: 0 auto;
    width: 30%;


}

.head{

    
    font-size: 50px;



}

#include{

    background-color: rgb(166, 177, 247);

}

button{
    
    width: 200px;
    margin-top: 50px;
    
}

#register{

        margin-top: 300px;
    
}